[Unit]
Description=CaseVision Control Interface
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/vlc-control
ExecStart=/usr/bin/python3 app.py
Restart=always

[Install]
WantedBy=multi-user.target